@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow&display=swap');

.logo {
    margin-left:1rem;
    font-size: 3rem;
    font-family: 'Over the Rainbow', cursive;
    color: white;
    text-shadow: 3px 2px rgb(204, 4, 4);
}
.navbar {
    margin:auto;
    font-family: "Over the Rainbow", cursive;
    display:flex;
    width:100%;
    top: 0;
    align-items: center;
  }
.navbar-list {
    display: flex;
    list-style-type: none;
    margin:0;
    flex: 1 100%;
    justify-content: flex-end;
}
.navbar-item > a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    text-shadow: 1px 2px rgb(204, 4, 4);
    padding: 1rem;
    display: block;
}

.busqueda {
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  text-shadow: 1px 2px rgb(204, 4, 4);
  padding: 1rem;
  display: block;
  
}

